%section.admin_payments
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %section.payment_history
          %header
            %h1 Products
          %table.table
            %thead
              %tr
                %th Product ID
                %th Product
                %th Status
                %th Description
                %th Price ($)
            %tbody
              - @products.each do |product|
                %tr
                  %td= product.id
                  %td= product.name
                  %td= product.status
                  %td= product.description
                  %td= product.default_price
